<form class=" border border dark">
    <div class="row g-0">
        <div class="col text-center p-2 mb-2 bg-light">
            <span class="fs-3"> Registration</span>
        </div>
    </div>
    <div class=" row">
        <div class="col mb-4">
            <label for=" First1" class="Form-label"> Firstname</label>
            <input type="text" style=" width: 103px;" class=" form control" id="First1">

        </div>
        <div class="col mb-4">
            <label for=" Last1" class="Form-label"> Middlename</label>
            <input type="text" style=" width: 110px;" class=" form control" id="Last1">

        </div>
        <div class="col mb-4">
            <label for=" Last2" class="Form-label"> Lastname</label>
            <input type="text" style=" width: 103px;" class=" form control" id="Last2">

        </div>
    </div>
    <div class="row">
        <div class="col mb-4">
            <label for=" DOB" class="Form-label">DOB</label>
            <input type="text" style=" width: 137px;" class=" form control" id="DOB">
        </div>
        <div class="col mb-0">Gender
            <input type="radio" name="gender" class="form -check form -check-inline" value="male"> Male
            <input type="radio" name="gender" class="form -check form -check-inline" value="male"> female
            <input type="radio" name="gender" class="form -check form -check-inline" value="male"> other
        </div>
        <div class="col mb-8">
            <label for=" pin" class="Form-label">Pincode</label>
            <input type="text" style=" width: 110px;" class=" form control" id="pin">
        </div>
        </div>
        <div class="row">
            <div class=" col mb-4">
                <select class="select">
                    <option value="1">Country</option>
                    <option value="2">India</option>
                    <option value="3">AUS</option>
                    <option value="4">UK</option>
                </select>
            </div>
            <div class="col mb-4">
                <select class="select">
                    <option value="1">State</option>
                    <option value="2">U.P</option>
                    <option value="3">Delhi</option>
                    <option value="4"> New South Wales</option>
                    <option value="4"> A</option>
                </select>
                
               
               </div> 
                <div class="col mb-4">
                    <select class="select">
                        <option value="1">Cities</option>
                        <option value="2"> Gorakhpur</option>
                        <option value="3"> Lucknow</option>
                        <option value="4"> Ghazibad</option>
                        <option value="4">Newdelhi </option>
                        <option value="2"> Firojabad</option>
                        <option value="3">Sydney</option>
                        <option value="4">Newcastle </option>
                        <option value="2"> X</option>
                        <option value="3"> Y</option>
                        <option value="4">Z</option>
                    </select>
                    
                </div>

            </div>
       

</form>